<h3></h3>Register Admin</h3>

<form action="/register" method="POST">
    <label for="userName"></label>
    <input type="text" name="userName" id="userName" placeholder="Enter admin user name">
    <label for="password"></label>
    <input type="password" name="password" id="password" placeholder="Enter ypur password">
    <input type="submit" value="Register" clas="btn">
</form>