<div class="author">
    <h1 class="author__heading">Hello</h1>
    <p class="author__body">This is blog basic</p>    
</div>

<img src="/img/hero-image.webp" alt="My Img alt" width="981" height="528">

<section class="articles">
    <h2 class="articles__heading">Latest posts</h2>

    <% data.forEach(element => { %>
        <ul class="articles-ul">
            <li>
                <a href="/post/<%= element.id  %>">
                    <span><%= element.title %></span>
                    <span class="articles-list__date"><%= element.createdAt.toDateString()  %></span>
                </a>
            </li>
        </ul>
     
    <% }) %>
    
    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="paginations">&lt; Wiev older posts</a>
    <% } %>
</section>