<div class="author">
    <h1 class="author__heading">Search Results</h1>    
</div>

<section class="articles">
    <% data.forEach(element => { %>
        <ul class="articles-ul">
            <li>
                <a href="/post/<%= element.id  %>">
                    <span><%= element.title %></span>
                    <span class="articles-list__date"><%= element.createdAt.toDateString()  %></span>
                </a>
            </li>
        </ul>
     
    <% }) %>
</section>